.inter-tight {
  font-family: "Inter Tight", serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
}

html {
  max-width: 100vw;
}

body {
  background-color: white;  
  width: 100%;
  height: auto;
  gap: 1em;
  overflow: auto;
  min-height: 100vh;
}

header {
  height: 5em;
  width: 100%;
  padding: 1vh 1vw;
  z-index: 99;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
}

#logo-header {
  height: 2em;
}

#section-titres {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    height: 30vh;
}

h1 {
    color: black;
    font-size: 2rem;
    font-family:"Inter Tight", serif;
    padding-bottom: 2em;
}

h2 {
    color: black;
    font-size: 1.5rem;
    font-family:"Inter Tight", serif;
}

#section-recettes {
    display: flex;
    flex-direction: column;
    gap: 1em;
    justify-content: center;
    padding: 2em;
    background-color: #c0cc9b;
}


#partie1 {
    display: flex;
    flex-direction: column;
}

#partie2 {
display: flex;
flex-wrap: wrap;
justify-content: center;
gap: 2em;
padding: 2em;
}

.photo-blob {
    width: 100%;
    height: 20vh;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    object-fit: cover;
}

.recette-blob {
    display: flex;
    flex-direction: column;
    background: white;
    width: 300px;
    border-radius: 15px;
    transition: transform 0.3s;
}

.recette-blob:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.content {
    display: flex;
    flex-direction: column;
    padding: 0.5em;
}

.titre-fleche {
    display: flex;
    justify-content: space-between;
}

.svg-container {
    width: 2vw;
    height: 2vh;
}

h4 {

    color: #87A330;
    font-size: 1.2rem;
    margin-bottom: 0.5em;
    font-family: "Inter Tight", serif;
}

h5 {
    color: rgb(36, 48, 16);
    font-size: 1.6rem;
    margin-bottom: 0.5em;
    font-family: "Inter Tight", serif;
}

p {
    color: rgb(68, 82, 24);
    margin-bottom: 1em;
}

.boutons {
    display: flex;
    padding-bottom: 0.3em;
    padding-left: 0.3em;
}

button {
    color: #c0cc9b;
    background-color: rgb(68, 82, 24);
    padding:  0.4em;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    color: white;
    background-color: #87A330;
}


footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 2em;
    background-color: rgb(17, 20, 6);
    color: #c0cc9b;
    width: 100%;
    height: 10vh;
    margin-top:auto;
    padding: 1em;
}

footer a {
    text-decoration: none;
    color: inherit;
}

#logo {
    width: 5vw;
    height: 1vh;
}

footer nav ul {
    display: flex;
    gap: 1em;
    list-style: none;
}

footer nav ul li {
    margin: 0;
}

footer nav ul li a {
    text-decoration: none;
    color: inherit;
    font-family: "Inter Tight", serif;
    font-size: 1rem;
}

footer p {
    margin: 0;
    font-family: "Inter Tight", serif;
    color: white;
    font-size: 0.9rem;
}







